{% extends 'base.html' %}

{% block content %}
<h1>Все новости</h1>
<a href="{% url 'create_news' %}" class="btn btn-success mb-3">+ Создать новость</a>
<table class="table">
    <tr>
        <th>Заголовок</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.created_at|date:"d.m.Y H:i" }}</td>
        <td>
            {% if post.is_published %}
                <span class="badge bg-success">Опубликовано</span>
            {% else %}
                <span class="badge bg-warning">Черновик</span>
            {% endif %}
        </td>
        <td>
            {% if not post.is_published %}
                <!-- Правильно должно быть: -->
<a href="{% url 'publish_news' post.id %}" class="btn btn-primary">
    📤 Опубликовать
</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


